<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Main</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h2>Hi @ViewBag.loggedUser.firstName</h2>
            </div>
            <div class="col-md-2">
                <a href="/Logout">Log Out</a>
            </div>
        </div>
        @Html.Partial("NewIdea")
        <br>
        @{
            @foreach(var idea in @ViewBag.ideas)
            {
                <div>
                    <p><strong>@idea.user.alias</strong> says "@idea.body"</p>
                    @{
                        bool liked = false;
                        @foreach (var like in idea.likes)
                        {
                            @if (like.users_id == @ViewBag.loggedUser.id)
                            {
                                liked = true;
                            }
                        }
                        
                        @if (liked == false)
                        {
                            <a href="/Like/@idea.id">Like</a>
                        }
                    }
                    <span><a href="/bright_ideas/@idea.id">@idea.likes.Count people</a> like this</span>
                    
                        @if (idea.users_id == @ViewBag.loggedUser.id)
                        {
                            <a href="/Delete/@idea.id">Delete Idea</a>
                        }
                    
                </div>
                <hr>
            }
        }
    </div>
</body>
</html>