<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2">   
                <a href="/bright_ideas">Bright Ideas</a>
            </div>
            <div class="col-md-2">
                <a href="/Logout">Log Out</a>
            </div>
        </div>

        <h3>Name: @ViewBag.name</h3>
        <h3>Alias: @ViewBag.alias</h3>
        <h3>Email: @ViewBag.email</h3>

        <hr>

        <h4>Total Number of Posts: @ViewBag.numPosts</h4>
        <h4>Total Number of Likes: @ViewBag.numLikes</h4>
    </div>
</body>
</html>